{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: 12px;
    background: {{ section.settings.background_color }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign sectionid = section.id | remove: '-' | remove: '__' | remove: '_' %}

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin collection__title--desktop-slider">
			{%- if section.settings.title != blank -%}
				<h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
					{{ section.settings.title }}
				</h2>
			{%- endif -%}
			{%- if section.settings.show_view_all -%}
				<div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
					<a
						href="/collections/all"
						class="link link_all"
						aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
					>
						Ver tudo
					</a>
				</div>
			{%- endif -%}
		</div>

    <div class="produtos">			
      <div class="swiper {{ sectionid }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
						<div class="collection-block swiper-slide scroll-trigger animate--slide-in">	
							<a href="{{ block.settings.collection.url }}">
								{%- if block.settings.collection_image -%}
									<div class="collection-title">{{ block.settings.collection.title }}</div>									
									<img
										srcset="
											{% if block.settings.collection_image.width >= 350 %}{{ block.settings.collection_image | image_url: width: 350 }} 350w,{% endif %}
											{% if block.settings.collection_image.width >= 750 %}{{ block.settings.collection_image | image_url: width: 750 }} 750w,{% endif %}
											{% if block.settings.collection_image.width >= 1100 %}{{ block.settings.collection_image | image_url: width: 1100 }} 1100w,{% endif %}
											{% if block.settings.collection_image.width >= 1500 %}{{ block.settings.collection_image | image_url: width: 1500 }} 1500w,{% endif %}
											{% if block.settings.collection_image.width >= 2200 %}{{ block.settings.collection_image | image_url: width: 2200 }} 2200w,{% endif %}
											{% if block.settings.collection_image.width >= 3000 %}{{ block.settings.collection_image | image_url: width: 3000 }} 3000w,{% endif %}
											{{ block.settings.collection_image | image_url }} {{ block.settings.collection_image.width }}w
										"
										sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
										src="{{ block.settings.collection_image | image_url: width: 1100 }}"
										loading="eager"
										fetchpriority="high"
										width="{{ block.settings.collection_image.width }}"
										height="{{ block.settings.collection_image.height }}"
										alt="{{ block.settings.collection_image.alt | escape }}"													
									>
								{%- endif -%}		
							</a>					
						</div>
					{% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
			<div class="wrapper-setas">
				<div class="swiper-button-prev swiper-prev-{{ sectionid }}"></div>
				<div class="swiper-button-next swiper-next-{{ sectionid }}"></div>
			</div>
    </div>
  </div>
</div>

<script>
  var swiper{{ sectionid }} = new Swiper(".{{ sectionid }}", {
  	slidesPerView: 1.6,
  	spaceBetween: 8,
  	grabCursor: true,

  	pagination: {
  		el: ".swiper-pagination",
  		clickable: true,
  	},
  	navigation: {
  		nextEl: ".swiper-next-{{ sectionid }}",
  		prevEl: ".swiper-prev-{{ sectionid }}"
  	},
  	speed: 500,
  	loop: {{ section.settings.main_banner_loop }},
  	{% if section.settings.main_banner_autoplay %}
  	autoplay: {
  		delay: {{ section.settings.main_banner_autoplay_time }}000,
  	},
  	{% endif %}

  	breakpoints: {
  		750: {
  			slidesPerView: 4,
  			spaceBetween: 24
  		}
  	}
  });
</script>

{% style %}
	.swiper-slide {
		position: relative;
		padding-bottom: 30px;
	}
	
	.collection-block a {
		display: block;
		height: 100%;
	}

	.swiper-pagination {
		display: none;		
	}

	.swiper-slide img {
		max-width: 100%;		
		height: auto;		
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: #F6F6F6;
		padding: 10px;
		z-index: 10;
		color: var(--color-primary);		
	}

	.collection-title {
		color: #fff;		
		font-family: "Baskervville", serif;
		font-weight: 400;
		line-height: 110%;
		letter-spacing: 0;
		z-index: 5;
		font-style: italic;
		font-size: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.produtos {
		position: relative;
    overflow: visible;		
	}

	@media screen and (max-width: 750px) {
		.swiper-button-prev,
		.swiper-button-next {
			top: initial!important;
			bottom: 0;
			position: relative;
		}

		.wrapper-setas {
			display: flex;
			width: 100%;
			justify-content: center;
			gap: 22px;
		}

		.swiper-slide:last-child {
			padding-right: 15px;
		}
	}

	@media screen and (min-width: 750px) {
		.collection-title {
			font-size: 32px;
		}

		.swiper-pagination {
			display: block;
			bottom: 15px;
		}

		.swiper-pagination-bullet {
			width: 6px;
			height: 6px;
			margin: 0 3px;
			background: #E5E5E5;
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background: var(--color-primary);
		}

		.produtos {			
			padding: 0 50px;
			width: calc(100% + 100px);
			margin-left: -50px;
		}
	}
{% endstyle %}

{% schema %}
{
  "name": "Carrosel de coleções",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 64
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Cor de Fundo",
      "info": "Escolha a cor de fundo da seção",
      "default": "linear-gradient(180deg, #FFFFFF, #FFFFFF)"
    },
		{
			"type": "text",
			"id": "title",
			"label": "Título",
			"default": "Categorias"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": "Exibir botão ver tudo",
			"default": true
		},
    {
      "type": "header",
      "content": "Ajustes slider"
    },
    {
      "type": "checkbox",
      "id": "main_banner_loop",
      "label": "Exibir banners em loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "main_banner_autoplay",
      "label": "Rodar slides automaticamente",
      "default": true
    },
    {
      "type": "range",
      "id": "main_banner_autoplay_time",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Tempo para mudança de slides",
      "default": 5
    }    
  ],

	"blocks": [
    {
      "type": "collection",
      "name": "Categoria",
      "settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Categoria"
				},
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Imagem",
          "info": "Selecione uma imagem para usar como fundo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carrosel de coleções"
    }
  ]
}
{% endschema %}
